@font-face {
  font-family: battleship;
  src: url(guardiane.ttf);
}

body {
  background-color: black;
}

#game-title {    
  text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);  
  color: rgb(132, 132, 130);
  font-family: battleship;
  text-align: center;
  display: inline-block;
  margin: 0px auto;
  font-size: 6em;
  width: 100%
}

table {
  margin: 0 auto;
}

td {
  border: 1px solid blue;
  height: 1.5em;
  width: 1.5em;
}

th {
  color: white;
}

#fleet-box {
  width: 250px;
  height: 250px;
  border: 1px solid blue;
  display: inline-block;
}

#aircraft-carrier {
  height: 140px;
  width: 28px;
  background-color: red;
  margin: 0;
  display: inline-block;
  border-radius: 10px 10px 0 0;
}

#battleship {
  height: 112px;
  width: 28px;
  background-color: red;
  margin: 0;
  display: inline-block;
}

#submarine {
  height: 28px; 
  width: 84px;
  background-color: red;
  margin: 0;
  display: inline-block;
}

#destroyer {
  height: 28px; 
  width: 84px;
  background-color: red;
  margin: 0;
  display: inline-block;
}

#patrol {
  height: 28px; 
  width: 56px;
  background-color: red;
  margin: 0;
  display: inline-block;
}



#toggle-option {
  display: inline-block;
}

#toggle-option p {
    color: red;
    font-family: battleship;
    font-size: 0.5em;
    display: inline;
  }

#arrow {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  display: inline;
}
