@mixin shipscss {
  background-color: red;
  margin: 0;
  display: inline-block;
  border-radius: 10px;
}

@font-face {
  font-family: battleship;
  src: url(guardiane.ttf);
}

body {
  background-color: rgb(30, 30, 30);
}

#game-title {    
  text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);  
  color: rgb(132, 132, 130);
  font-family: battleship;
  text-align: center;
  display: inline-block;
  margin: 0px auto;
  font-size: 6em;
  width: 100%
}

table {
  margin: 0 auto;
  clear: both;
}

td {
  border: 1px solid blue;
  height: 45px;
  width: 45px;
}

th {
  color: white;
}

#here {
  height: 25px;
  width: 26px;
  background: blue;
  display: inline-block;
  border-radius: 10px
}

#aircraft-carrier {
  height: 25px;
  width: 225px;
  @include shipscss;
}

#battleship {
  height: 25px;
  width: 180px;
  @include shipscss;
}

#submarine {
  height: 25px; 
  width: 135px;
  @include shipscss;
}

#destroyer {
  height: 25px; 
  width: 135px;
  @include shipscss;
}

#patrol {
  height: 25px; 
  width: 90px;
  @include shipscss;
}

#fleet-box {
  margin: 0;
  display: inline-block;
    li {
      list-style: none;
    }
}

#toggle-option {
  display: block;
    p {
      color: red;
      font-family: battleship;
      font-size: 0.8em;
      display: inline;
    }
}

#arrow {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  display: inline-block;
}

#ready {
  float: right;
    img {
      height: 40px;
      width: 40px;
      display: inline;
      margin: 0px 0px 5px 40px;
    }
    p {
      color: red;
      font-family: battleship;
      font-size: 0.8em;
      display: block;
      margin: 5px 0 5px 0;
    }
}


/* ----- CSS FOR PULSATING A SELECTED SHIP ----- */
.selected {
	-webkit-animation: glow 500ms ease-out infinite alternate;
	-moz-animation: glow 500ms ease-out infinite alternate;
	-o-animation: glow 500ms ease-out infinite alternate;
	-ms-animation: glow 500ms ease-out infinite alternate;
	animation: glow 500ms ease-out infinite alternate;
	border: 1.5px solid #393;
	box-shadow: 0 0 10px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 10px 0 #000;
	color: #efe;
	outline: none;
}

@-webkit-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 30px rgba(0,255,0,.6), inset 0 0 20px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-moz-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 5px 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-o-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-ms-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

